# START CRON JOB
SHELL=/bin/sh
PATH=/usr/local/bin:/usr/bin:/bin
PYTHONPATH="${XL_IDP_ROOT_RABBITMQ}:${PYTHONPATH}"
0 12 * * * python3 ${XL_IDP_PATH_DOCKER}/scripts/send2telegram.py > /proc/1/fd/1 2>/proc/1/fd/2
0 21 * * * python3 ${XL_IDP_PATH_DOCKER}/scripts/delete_deals.py > /proc/1/fd/1 2>/proc/1/fd/2
# END CRON JOB